.newtop6sec .monthly-icon-text {
    font-size: 18px;
    color: #222;
    font-weight: bold;
    margin-bottom: 0;
    width: 16%;
    float: left;
}
.newtop6sec .monthly-progress-box1 {
    font-size: 12px;
	}
.toptable tr{border-left:none !important;border-right:none !important;}
.toptable tr:last-child{border-left:none !important;border-right:none !important;border-bottom:none !important;}

.rightalign{float:right !important}
.contmarg2 .row.advance-surgery-center {
    padding: 10px;
    position: relative;
}
h6.rightalign.advance-icon-text.texr-color-blue {
    font-size: 13px;
    line-height: 26px;
}
.righttextboxsec{background:#fff}
.righttextboxsec{float:right;width:80%}
.righttextboxsec ul.myybox li{display:inline-block;padding:10px;}
.row{clear:both}
.logofirstbox {
    background: #ddeef8;
    padding: 12px;
    width: 20%;
    float: left;
    text-align: center;
    
}
.righttextboxsec ul.myybox li:first-child {

    min-width: 51%;

}
.contmarg2 div.widget-dashboard table td, .contmarg2  div.widget-dashboard table th {padding:7px 15px 7px 15px}
.forboxsection {
    margin-bottom: 10px;
    clear: both;
    width: 98%;
}
.logofirstbox img{height:50px;}
.logofirstbox i {
    font-size: 25px;
    padding: 12px;
}
ul.myybox {padding:0;margin:0;
}
.text-color-darkblue{color:#0655a0 !important}
.forboxsection{margin-bottom:10px}
.clear {clear:both}
.righttextboxsec ul.myybox li h4{color:#333;font-size: 15px;
font-weight: bold;line-height:45px}

li .cirlce-blue-num{padding:7px 9px;color:#fff;background:#2693db;border-radius:55px;font-weight:bold;}